body {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #333;
	color: #EEE;

	font-family: "Lato", sans-serif;
}

b {
	font-weight: 700;
}

#nameplate {
	font-size: 3em;
	text-align: center;
	margin: 20px 0;

	font-family: "Montserrat", sans-serif;
	color: #C73E3B;
}
#catchphrase {
	text-align: center;
	font-size: 1.5em;
	margin: 20px 0;
	margin-top: -20px;
}

.create_room_form {
	text-align: center;
}
.create_room_form input {
	margin:10px auto;
	display: block;
}
input[type="text"].fat_input {
	font-size: 2em;
	text-align: center;
	border: 1px solid white;
	font-family: "Lato", sans-serif;

	width: 325px;
}
.create_room_form input[type=submit] {
	font-size: 2em;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	border: 0;
	background-color: #3FA9F5;
	padding: 10px 20px;
	border-radius: 5px;
	color: #DDD;

	width: 325px;
	margin: 15px auto;
}
#push {
	margin-top: 100px;
	text-align: center;
	font-size: 1.25em;
}

#icons {
	text-align: center;
}
#plus {
	background: #3FA9F5;
	width: 35px;
	height: 100px;
	position: relative;
	margin-left: 33px;

	margin: 20px auto;
}
#plus:before {
	background: #3FA9F5;
	content: "";
	width: 100px;
	height: 35px;
	position: absolute;
	top: 33px;
	left: -33px;
}

.center {
	margin: 0 auto;
	width: 55%;
}

#video_wrap {
	margin: 20px auto;
	text-align: center;
}

#chat {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;

	font-size: 0.9em;

	width: 200px;
	overflow: auto;
	background-color: #343434;
}
.message_box {
	border: 0;
	font-family: "Lato", sans-serif;
	position: relative;
	margin: 2px;
	padding: 1px;
	height: 20px;
}
#chat ul {
	list-style: none;
	padding-left: 15px;
}

.compose-message-form {
	bottom: 0;
	position: absolute;
	right: 0;
}
.blue_submit {
	border: 0;
	background-color: #3FA9F5;
	font-family: "Montserrat", sans-serif;
	height: 20px;
}

.join-chat input[type="text"]{
	
}