<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="no-cache" />

  <title>{% if title %}{{title}}{% else %}Play BigHack{% endif %}</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <link href="{{ url_for('static', filename='common.css') }}" rel='stylesheet' type='text/css'>

  <!-- js lib -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <script src="{{ url_for('static', filename='scripts/socket.io.min.js') }}"></script>

  <!-- js -->
  <!-- <script src="{{ url_for('static', filename='scripts/player.js') }}"></script> -->
  <script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
