{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="center">


  <header>
    <div id="nameplate">JamTrain</div>
    <div id="catchphrase">Your favorite tracks. Listen to and curate playlists collaboratively.</div>
  </header>

  <div id="create_room">
    <form class="create_room_form" method="post" action="{{ url_for('create') }}">
      <input type="text" id="roomname" name="roomname">
      <input type="submit" id="submit" value="Get on a train">
    </form>
  </div>


  <footer>
  </footer>
</div>
{% endblock %}
