{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='scripts/socket.io.min.js') }}"></script>

<!-- preserver order -->
<!-- <script src="{{ url_for('static', filename='scripts/player.js') }}"></script> -->
<script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
{% endblock %}

{% block body %}
<header>
  <h1>Play.</h1>
</header>

<div id="video_wrap">
  <form class="playercontrols">
    <input type="submit" value="play">
  </form>

  <!-- replaced in js by the vid itself -->
  <div id="player"></div>
</div>

<div id="chat">
  <form class="join-chat">
    <label>Type an email to join chat</label>
    <input name="email" type="email">
    <input type="submit" value="join">
  </form>

  <ul class="messages" style="display:none;"></ul>

  <form class="compose-message-form" style="display:none;">
    <textarea name="message" required></textarea>
    <input type="submit" value="send">
  </form>
</div>


<footer>
</footer>
{% endblock %}
